\nonstopmode
\batchmode
\PassOptionsToPackage{papersize={203mm,270.7mm},left=20mm,top=20mm}{geometry}
\documentclass[12pt,final,hyphenatedtitles]{papertex}

\usepackage[utf8]{inputenc}

\usepackage[OT1]{fontenc}
\renewcommand*\familydefault{\sfdefault} %% Only if the base font of the document is to be sans serif

\makeatletter
\def\UTFviii@defined#1{%
\ifx#1\relax
?%
\else\expandafter
#1%
\fi
}

\makeatother

\usepackage{ulem}

\minraggedcols=2

\begin{document}
#foreach($news in $newsItems)
    \begin{news}{2}
    {${news.title}}
    {}
    {}
    {1}
		#if($news.imageFilePath)
			\image{${news.imageFilePath}}
		#end

        \authorandplace{$news.source}{}
        ${news.content}
    \end{news}

    \newssep
#end
\end{document}
